<!-- Container div -->
<div class="relative h-screen overflow-y-hidden">
    <div class="absolute top-0 left-0 z-0 w-52 assete:w-32">
        <img src="../../assets/asset3D/Illustration top.svg" alt="Top left asset">
    </div>
    <!-- Header -->
     <div class="flex justify-center z-10">
        <!--Nav-->
        <nav class="flex items-center justify-center gap-12  m-10  max-w-maxNav z-10 assete:gap-4 resPhone:w-80">
            <a href="#" class="text-2xl text-slate-50 assete:text-xs ">Home</a>
            <a href="#" class="text-2xl text-slate-50 assete:text-xs">About me</a>
            <img class="w-14 resPhone:w-8 rounded-full" src="../../assets/logo/avtare.png" alt="">
            <a href="#" class=" text-2xl text-slate-50 assete:text-xs">Work</a>
            <a href="#" class="text-2xl text-slate-50 assete:text-xs">Contact</a>
        </nav>
     </div>
     <!-- Content -->
      <div class="flex gap-10 z-10 h-1/2"> 
        <!--Side bare-->
        <div class="w-20 assete:w-12  p-5 flex flex-col justify-between border-none rounded-e-3xl items-center justify-center bg-[#d2d3f2dc] z-10">
            <a href="#">Home</a>
            <a href="#">about</a>
            <a href="#">work</a>
            <a href="#">Contact</a>
            <a href="#">git</a>
        </div>
        <!--Description-->
        <div class="w-full flex justify-center items-center z-10">
            <div>
                <div class="flex max-w-maxDes text-4xl font-bold text-center text-slate-100 justify-center assete:text-lg assete:mr-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint impedit accusantium tenetu
                    reiciendis autem repellendus eum numquam,
                    
                </div>
            <!--Button-->
                <div class="flex gap-5 mt-12 justify-center assete:mt-6">
                    <a href="#" class="text-slate-100 text-2xl font-bold  py-3 px-7 rounded-3xl bg-gradient-to-r from-secondarybutton assete:text-xs assete:py-1 assete:px-2">Hire me</a>
                    <a href="#" class="text-slate-100 text-2xl font-bold py-3 px-7  bg-gradient-to-r from-primarybutton  to-secondary  rounded-3xl assete:text-xs assete:py-1 assete:px-1">Download CV</a>
                </div>
         </div>
        </div>
      </div>
    <div class="absolute bottom-0 right-0 z-0 w-96 assete:w-82 resPhone:w-60">
        <img src="../../assets/asset3D/Ilustration bottom.svg" alt="">
    </div>
</div>