<!-- Container div -->
<div>
    <!-- Header -->
     <div class="flex justify-center">
        <!--Nav-->
        <nav class="flex items-center gap-12 flex-row-reverse m-10  max-w-maxNav ">
            <a href="#" class="text-2xl text-slate-50">Home</a>
            <a href="#" class="text-2xl text-slate-50">About me</a>
            <img class="w-14 rounded-full" src="../../assets/logo/avtare.png" alt="">
            <a href="#" class=" text-2xl text-slate-50">Work</a>
            <a href="#" class="text-2xl text-slate-50">Contact</a>
        </nav>
     </div>
     <!-- Content -->
      <div class="flex gap-10"> 
        <!--Side bare-->
        <div class="w-20 block">
            <p>salut</p>
            <li>Home</li>
            <a href="#">Home</a>
            <a href="#">about</a>
            <a href="#">work</a>
        </div>
        <!--Description-->
        <div class="">
            <div class="flex max-w-maxDes text-4xl font-bold text-slate-100 justify-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint impedit accusantium tenetu
                reiciendis autem repellendus eum numquam, repudiandae deleniti est nesciunt ullam corporis!
                
            </div>
            <!--Button-->
            <div>
                <a href="#">Hire me</a>
                <a href="#">Download CV</a>
            </div>
        </div>
      </div>

</div>