
  <!--__________Background deocre Top _________________-->
  <div class="absolute top-0 left-0 -z-10">
    <img src="../../assets/asset3D/Group 1179.svg" alt="" />
  </div>
  <div class="absolute top-0 right-0 -z-10">
    <img src="../../assets/asset3D/Group 1179.svg" alt="" />
  </div>
  <!--__________________End__________________-->
  <!-- Contenu principlale -->
  <div class="relative w-topil h-2/3 assete:w-[400px]  assete:h-[40%] flex justify-center items-center bg-[url('/assets/asset3D/Background.svg')] bg-cover bg-center " >
      <div class="absolute -bottom-10 right-0 z-10 menuscreens:w-80 ">
         <img src="../../assets/asset3D/Illustration (1).svg" alt="" class=" assete:w-[150px] assete:translate-x-40" >
      </div>
      <div class="relative flex assete:justify-normal  flex-col justify-center   w-[600px] h-[600px] -translate-y-20 assete:w-[290px] assete:h-[290px] bg-gradient-to-r from-purple-500 to-indigo-500 rounded-full rotate-30  menuscreens:-translate-y-20">
        <h1 class="text-slate-50 text-center font-bold font-poppins mt-10 assete:mt-0">About Me</h1>

        <div class="relative left-[20%]  text-slate-50 font-poppins font-bold  text-xl assete:leading-relaxed  p-10 pt-0 assete:p-8 assete:text-center assete:pt-0 break-words whitespace-normal h-full w-2/3 z-40 assete:text-[11px] assete:left-0 assete:w-full assete:rounded-full">
          
              I’m Hanif, a backend developer specializing in Python. Passionate about technology, 
            I’m self-taught and have built several projects using Django and Angular. I love
            creating robust, scalable applications by combining backend and frontend expertise.
            Based in Togo, I also share my knowledge on LinkedIn and Twitter to help other
            developers grow. Always looking for new challenges, I’m eager to collaborate on innovative projects.
        </div>
      </div> 
  </div>
  
  <!--_________FIN____________-->

  <!------------------Background decore Bottom__________________-->
  <div class="absolute bottom-0 left-0 -z-10">
    <img src="../../assets/asset3D/Group 1179.svg" alt="" />
  </div>
  <div class="absolute bottom-0 right-0 -z-10">
    <img src="../../assets/asset3D/Group 1179.svg" alt="" />
  </div>
  
  <!--::::::::::::::::::::::::::-->


