<div class="h-screen flex justify-center items-center">
  <!--__________Background deocre Top _________________-->
  <div class="absolute top-0 left-0">
    <img src="../../assets/asset3D/Group 1179.svg" alt="" />
  </div>
  <div class="absolute top-0 right-0">
    <img src="../../assets/asset3D/Group 1179.svg" alt="" />
  </div>
  <!--__________________End__________________-->
  <!-- Contenu principlale -->
  <div></div>
  <div
    class="relative w-80 h-80 bg-gradient-to-r from-purple-500 to-indigo-500 rounded-full rotate-30 flex items-center justify-center"
  ></div>
  <!--_________FIN____________-->

  <!------------------Background decore Bottom__________________-->
  <div class="absolute bottom-0 left-0">
    <img src="../../assets/asset3D/Group 1179.svg" alt="" />
  </div>
  <div class="absolute bottom-0 right-0">
    <img src="../../assets/asset3D/Group 1179.svg" alt="" />
  </div>

  <!--::::::::::::::::::::::::::-->
</div>
